{# Purpose of this template: Display search options #}
<input type="hidden" id="rKBulletinModuleActive" name="active[RKBulletinModule]" value="1" />
{% if active_notice is defined %}
    <div>
        <input type="checkbox" id="active_rKBulletinModuleNotices" name="rKBulletinModuleSearchTypes[]" value="notice"{% if active_notice %} checked="checked"{% endif %} />
        <label for="active_rKBulletinModuleNotices">{{ __('Notices', 'rkbulletinmodule') }}</label>
    </div>
{% endif %}
{% if active_picture is defined %}
    <div>
        <input type="checkbox" id="active_rKBulletinModulePictures" name="rKBulletinModuleSearchTypes[]" value="picture"{% if active_picture %} checked="checked"{% endif %} />
        <label for="active_rKBulletinModulePictures">{{ __('Pictures', 'rkbulletinmodule') }}</label>
    </div>
{% endif %}
{% if active_event is defined %}
    <div>
        <input type="checkbox" id="active_rKBulletinModuleEvents" name="rKBulletinModuleSearchTypes[]" value="event"{% if active_event %} checked="checked"{% endif %} />
        <label for="active_rKBulletinModuleEvents">{{ __('Events', 'rkbulletinmodule') }}</label>
    </div>
{% endif %}
